# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset
data/

# Trained models
outputs/models/

# Optional outputs (if you don't want to upload generated images/metrics)
outputs/figures/
outputs/metrics/

# macOS
.DS_Store

# VS Code
.vscode/
